{% extends 'base.html' %}
{% block content %}
<div class="text-background mx-auto" style="max-width: 900px;">

  <h2 class="fw-bold mb-4 text-center" style="font-size: 2rem;">
    À propos de MABI-Cybersécurité
  </h2>

  <p class="fs-5 lh-lg text-justify">
    <strong>MABI-Cybersécurité</strong> est une application web innovante conçue pour vous aider à
    protéger vos sites web et liens contre les menaces et vulnérabilités.

    <br><br>
    Grâce à la technologie avancée de détection basée sur <strong>VirusTotal</strong> et notre interface simple,
    vous pouvez facilement vérifier la sécurité de n'importe quel lien.

    <br><br>
    <strong>MABI-Cybersécurité</strong> est votre partenaire de confiance dans la lutte contre les cybermenaces.
    Notre application web vous permet d'analyser en profondeur vos liens et sites afin d’identifier rapidement les vulnérabilités et protéger vos données.

    <br><br>
    Sécurité, simplicité et performance sont au cœur de notre engagement pour vous offrir une expérience fiable et intuitive.

    <br><br>
    Notre mission : vous offrir un outil fiable, accessible et performant pour garantir votre tranquillité d'esprit sur internet.

    <br><br>
    <span class="fw-bold d-block text-center mt-4">Développée par Barthélemy Mabi.</span>
  </p>
</div>
{% endblock %}
